extends ../common/_admin-layout
// block meta

block navbar
    include ../common/_admin-navbar
block content
    .row-fluid
        .span2
            // nav active
            listClass = 'yes'
            include ../common/_admin-sidebar-nav
        .span10
            table.table.table-bordered
                thead
                    tr
                        th id
                        th 标题
                        th 状态
                        th 操作
                tbody
                    - blogs.forEach(function(item){
                        tr
                            td #{item.id}
                            td 
                                - var title = item.title, reLen = 0; 
                                - for (var i = 0, len = title.length; i < len; i++) {
                                        - if(reLen > 30) {
                                        -       title = title.substr(0, i) + '...'
                                        -       break
                                        - }      
                                        - if (title.charCodeAt(i) < 27 || title.charCodeAt(i) > 126){
                                        -       reLen += 2        
                                        - } else {
                                        -       reLen++ 
                                        - }        
                                - } 
                                a(href="/blog/#{item.id}", title="#{title}", target="_blank") #{title}
                            td 
                                if item.del_status == '0'
                                    span.badge.badge-success 正常
                                if item.del_status == '1'
                                    span.badge.badge-warning 已删
                            td
                                a.btn.btn-info.span3(href="/admin/blog/edit/#{item.id}", style="width: 68px;")
                                    i.icon-edit.icon-white
                                    |编辑
                    - })

block footer
    include ../common/_footer