extends common/_layout
block navbar
    include common/_navbar
block content
    .page-header
        h1 Snode
            small.pull-right ——记录在nodejs学习过程中踩过的那些坑！
    
    .row
        .span9
           - blogs.forEach(function(item){
            .media
                .media-body
                    h4.media-heading
                        a(href="/blog/#{item.id}", title="#{item.title}") #{item.title}
                    |#{item.update_time}
           - })
            include common/_pager
        .span3
            tbox
                .tbox_header
                     span.col_fade 近期文章
                .tbox_content
                     ul.unstyled
                        - blogs.forEach(function(item){
                            li
                                p
                                    a(href="/blog/#{item.id}", title="#{item.title}") #{item.title}
                        - })
                                
block script
    script(charset="UTF-8")